<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
     TIPO: {{prueba.tipo}}
    </ion-item>
    <ion-item>
      DATOS: {{prueba.datos}}
     </ion-item>
     <ion-item>
      DE: {{prueba.de}}
     </ion-item>
     <ion-item>
      PARA: {{prueba.para}}
     </ion-item>
     <ion-item>
      FECHA: {{prueba.fecha}}
     </ion-item>
  </ion-list>
  <ion-button (click)=conectar()>
    Conectar a socket
  </ion-button>
</ion-content>
